body {
    height:100vh;
    background: #0063AF; 
    background: -webkit-linear-gradient(#32CD32, #006400);
    background: -o-linear-gradient(#32CD32, #006400);
    background: -moz-linear-gradient(#32CD32, #006400); 
    background: linear-gradient(#32CD32, #006400); 
font-family: 'Doppio One', sans-serif;
margin:0px;

}

.landing-background{
	position: relative;
  top: 40%;
  transform: translateY(-50%);
	color:white;
	margin: auto;
    width: 60%;
}

.landing-background h1{
	font-size: 64px;
	text-align: center;
}
.landing-background h2{
	text-align:center;
}
#description{
	
	text-align:center;
	clear:both;

}

.login-box {
	text-align:center;
	background-color:#fefefe; 
	color:#006400;
	border-radius: 15px;
	border: 2px dotted darkGreen;
	padding: 10px;
	position:relative;
	clear:both;
	
}

.input{
		
	padding: 4px;
	width:170px;
}

.input-passwd{
	width:170px;
	padding: 4px;
}

.button {
	text-decoration:none;
	text-align:center;
	 border:none;
	background: #008CF7;
	color:#FFFFFF;
	width:182px;
	padding: 6px 16px;
	font-size: 12px;
	margin-top:5px;
	left:-10px;
	margin-bottom:20px;
}
#default-gallery{
	border: 3px dotted blue;
}
.default_pic{
	border:2px dotted black;
	width:150px;
	height:150px;
	margin:5px;
}

.selectedImage{
   box-shadow:0px 12px 22px 1px #333;
}

#mainImage{
	width:65%;
	position:absolute;
	bottom:2px;
	z-index: -1;
	left:120px;
}
.test{
	clear:both;
}
#logo{
	width:50%;
	position:relative;
	top:90px;
	left:270px;
}